.Question {
	&__info {
		margin-bottom: 1.4rem;
	}

	&__text {
		display: block;
		font-size: 1.5em;
		margin-bottom: 2rem;
	}

	&__answers {
		border: none;
		display: grid;
		grid-gap: 1em;
		margin: auto;
	}
}
