.Question {
	&__text {
		display: block;
		margin-bottom: 0.5em;
		font-size: 1.5em;
		max-width: 300px;
		margin: auto;
		margin-bottom: 2rem;
	}

	&__answers {
		border: none;
		display: grid;
		grid-gap: 1em;
		max-width: 300px;
		margin: auto;
	}
}
