.App {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: stretch;
	align-items: stretch;

	&__header {
		position: relative;
		flex: 0 0 auto;
	}

	&__main {
		position: relative;
		flex: 1 1 0;
		width: 100%;
		max-width: 300px;
		margin: auto;
		padding: 0.6rem;
		box-sizing: border-box;
	}
}
