.Survey {
	// TEMP
	&__footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100vw;

		display: flex;
		flex-flow: row nowrap;
		justify-items: stretch;

		button {
			flex: 1 0 auto;
			padding: 1rem;
			font-size: 1em;
		}
	}
}
