.Survey {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	&__section {
		flex: 0 0 auto;
		text-align: center;
		padding-top: 1em;
		font-size: 1.3em;
	}

	&__question {
		flex: 1 0 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__footer {
		flex: 0 0 auto;
		width: 100%;

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	&__nav-link {
		flex: 0 0 auto;
		margin: 1rem;
		font-size: 1.3em;
		background: none;
		border: none;

		&:hover {
			text-decoration: underline;
		}

		&:disabled {
			color: silver;
		}
	}
}
