.Survey {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	&__section-title {
	}

	// TEMP
	&__footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100vw;

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	&__nav-link {
		flex: 0 0 auto;
		margin: 1rem;
		font-size: 1.3em;
		background: none;
		border: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
